:root {
    --color-text-invert: #111111;
    --color-text: #fff;
}
body {
    background-color: var(--color-text-invert);
    color: var(--color-text);
    overflow: scroll;
}
button {
    background-color: var(--color-text-invert);
    color: var(--color-text);
}
.btn {
    border: solid 2px #444;
    background-color: #1b1b1b;
    color: var(--color-text);
    font-size: 14px;
    cursor: pointer;
    transition-property: background-color, border, transform, box-shadow;
    transition-duration: 0.15s;

    cursor: pointer;
    font-size: 12px;
    max-width: 250px;
    padding: 7px 25px;
    text-decoration: none;
    border: 1px solid #777;
    background: #333;
    color: var(--color-text);
    display: inline-block;
}
.game-link {
    color: #00ff00;
}
.btn:hover {
    border: 1px solid #999;
    background: #555;
}
.btn:disabled {
    border-color: #222;
    background: #171717;
    color: #777;
    cursor: not-allowed;
    display: inline-block;
}
.main-line {
    width: 100%;
    border-bottom: solid 2px #222;
    height: 5px;
    margin-bottom: 13px;
}
#news {
    color: var(--color-text);
    width: 90%;
    top: 0px;
    height: 20px;
    border: solid 2px #222;
    background-color: #171717;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: auto;
}

#newsText {
    white-space: nowrap;
}

.vol-dis {
    font-size: 32px;
}
.soft {
    color: hsl(237, 15%, 47%);
    font-weight: bold;
    text-shadow: 0px 1px 0px hsl(252, 19%, 57%);
    pointer-events: none;
}

.mm3btn {
    background-color: #440;
    border-color: #880;
}
.mm3btn:hover {
    background-color: #550;
    border-color: #aa0;
}
.mm3btn[disabled] {
    background-color: #220;
    border-color: #440;
}
.mm3text {
    color: #dd0;
}

.unlocked {
    background: #080;
}

.chalpl0,
.chalpl1,
.chalpl2 {
    color: var(--color-text);
    width: 200px;
    height: 124px;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}
.chalpl0 {
    border: 4px solid #fff;
}
.chalpl1 {
    border: 4px solid #dddd00;
}
.chalpl2 {
    border: 4px solid #0dd;
}
.inchal {
    background: #558;
}

@keyframes a-tesseract-shift-dark {
    0% {
        box-shadow: 1.5rem 1.5rem 0.5rem white, -1.5rem -1.5rem 0.5rem white;
    }
    50% {
        box-shadow: 1.5rem -1.5rem 0.5rem white, -1.5rem 1.5rem 0.5rem white;
    }
    100% {
        box-shadow: -1.5rem -1.5rem 0.5rem white, 1.5rem 1.5rem 0.5rem white;
    }
}

@keyframes bigcrunch {
    0%,
    100% {
        transform: scale(1);
        filter: blur(0);
    }
    50% {
        transform: scale(0);
        filter: blur(5px);
    }
}

.breakable {
    border-color: var(--color-text-invert);
    background-color: var(--color-text-invert);
}

.breakable:hover {
    border-color: var(--color-text-invert);
    background-color: var(--color-text-invert);
}
.breakable[disabled] {
    border-color: var(--color-text-invert);
    background-color: var(--color-text-invert);
}

.backgroundsettingnote {
    width: 250px;
    height: 250px;
    border: #fff solid 1px;
    margin: auto;
    transition-duration: 100ms;
}
.backgroundsettingnote:hover {
    background: #333;
}
.backgroundsettingnote:active {
    background: #666;
}

.mm5btn {
    background-color: #044;
    border-color: #088;
}
.mm5btn:hover {
    background-color: #055;
    border-color: #0aa;
}
.mm5btn[disabled] {
    background-color: #022;
    border-color: #044;
}
.mm5text {
    color: #0dd;
}

.mm3upg {
    width: 184px;
    height: 136px;

    color: var(--color-text);
    border: 2px solid #dd0;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.mm5upg {
    width: 184px;
    height: 136px;

    color: var(--color-text);
    border: 2px solid #0dd;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
a:-webkit-any-link {
    color: #00ff00;
}

.milestone {
    border: 2px solid;

    background-color: var(--color-text-invert);
    height: fit-content;
    width: 600px;
    padding: 6px 6px;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
}
.milestone > .milestone-description {
    font-size: 110%;
}
.milestone > .milestone-goal {
    font-size: 120%;
}
[mm5page] > .milestone {
    border-color: #0ff;
}
.battle {
    display: flex;
    justify-content: center;
}
.battle-playerenemy-description {
    width: 150px;
    padding: 5px;
    border: 2px solid #fff;
    margin-left: 2px;
    margin-right: 2px;
}
.battle-enemychoose-description {
    width: fit-content;
    padding: 5px;
    border: 2px solid #fff;
    margin-left: 2px;
    margin-right: 2px;
    margin: auto;
}
.fill-button {
    width: 3.6cm;
    height: 2.4cm;
    border: 2px solid #ffffff;
    margin: auto;
}
.fill-button:hover {
    background-color: #666;
}

.upgtow {
    width: 184px;
    height: 136px;
    border: 2px solid #0dd;
    text-decoration: none;
    cursor: pointer;
}

.rea {
    width: 120px;
    height: 120px;
    background-color: #044;
    color: #ffffff;
    border: 2px solid #0aa;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}
.rea_active {
    background-color: #088;
}
.rea:hover {
    background-color: #066;
    border: 2px solid #00c8c8;
}

.rea_active:hover {
    background-color: #099;
    border: 2px solid #00c8c8;
}

.cmpbtn {
    width: 150px;
    height: 150px;
}

.corrupted {
    animation: corrupted_text 4s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes corrupted_text {
    0%,
    100% {
        text-shadow: -4px -4px 4px #5555ff, 4px 4px 4px #ff5555;
        color: white;
    }

    25% {
        text-shadow: -4px 4px 4px #5555ff, 4px -4px 4px #ff5555;
        color: #eeddff;
    }

    50% {
        text-shadow: 4px 4px 4px #5555ff, -4px -4px 4px #ff5555;
        color: white;
    }

    75% {
        text-shadow: 4px -4px 4px #5555ff, -4px 4px 4px #ff5555;
        color: #ffddee;
    }
}

.charged_text {
    color: cyan;
    text-shadow: -1px -1px 3px lightskyblue, 0px 0px 5px #878ffa, 1px 1px 3px blue;
}

.saved_text {
    color: #bfb;
    text-shadow: 1px 1px 3px #0f0, -1px -1px 3px #7f0, 0 0 24px #0f0;
}

@keyframes quark_color {
    0%,
    100% {
        color: #f77;
    }

    16.7% {
        color: #f7f;
    }

    33.3% {
        color: #77f;
    }

    50% {
        color: #7ff;
    }

    66.7% {
        color: #7f7;
    }

    83.3% {
        color: #ff7;
    }
}

.quark_color {
    animation: quark_color 6s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.f_quark_color {
    animation: quark_color 1s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.ff_quark_color {
    animation: s_quark_color 0.8s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

@keyframes s_quark_color {
    0%,
    100% {
        color: #f77;
        text-shadow: 1px 1px 3px #f77, -1px -1px 3px #f77, 0 0 24px #f77;
    }

    16.7% {
        color: #f7f;
        text-shadow: 1px 1px 3px #f7f, -1px -1px 3px #f7f, 0 0 24px #f7f;
    }

    33.3% {
        color: #77f;
        text-shadow: 1px 1px 3px #77f, -1px -1px 3px #77f, 0 0 24px #77f;
    }

    50% {
        color: #7ff;
        text-shadow: 1px 1px 3px #7ff, -1px -1px 3px #7ff, 0 0 24px #7ff;
    }

    66.7% {
        color: #7f7;
        text-shadow: 1px 1px 3px #7f7, -1px -1px 3px #7f7, 0 0 24px #7f7;
    }

    83.3% {
        color: #ff7;
        text-shadow: 1px 1px 3px #ff7, -1px -1px 3px #ff7, 0 0 24px #ff7;
    }
}

@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanssc/v36/k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FnYw.ttf)
        format('truetype');
}
* {
    font-family: MonospaceTypewriter, 'Noto Sans SC';
}
.text-center {
    text-align: center;
}
p {
    margin: 0px;
}
table {
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.tooltipBox {
    position: relative;
}

.tooltipBox:hover .tooltip {
    opacity: 1;
}

.achi {
    border: solid 3px black;
    background-size: contain;
    width: 75px;
    height: 75px;
    background-color: gray;
    border-radius: 10%;
    padding: 5px;
    color: white;
    text-shadow: 0px 0px 12px black;
    font-size: 12px;
}

.achiunlocked {
    background: darkgreen;
}

.tooltip {
    pointer-events: none;
    text-align: center;
    width: 150px;
    font-size: 12px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    z-index: 20000;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 14px;
}

.tooltip:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.sticky {
    position: sticky;
    background: var(--color-text-invert);
}

.light_red {
    color: #f55;
}

.red {
    color: red;
}

.orange {
    color: #f50;
}

.yellow {
    color: #fb0;
}

.gold {
    color: #fe0;
}

.limegreen {
    color: #00ff00;
}

.green {
    color: #00bb00;
}

.light_green {
    color: lightgreen;
}

.sky {
    color: skyblue;
}

.cyan {
    color: #07f;
}

.magenta {
    color: #f08;
}

.gray {
    color: gray;
}

.table_center {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
